@using BasicECommerce.Entity;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}


<div class="jumbutron">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container py-5">
            <h1 class="display-5 fw-bold">Lorem Ipsum</h1>
            <p class="col-md-8 fs-4">
                "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @Html.Partial("_ProductList", Model)
    </div>
</div>

