@using BasicECommerce.Entity;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "List";
}

<div class="row">
    <div class="col-md-3 mt-5 ">
        <div class="container mb-5">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">An active item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="container mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 pt-2">
                @Html.Partial("_ProductList", Model)
            </div>
        </div>
    </div>
</div>

