@using BasicECommerce.Entity;
@model IEnumerable<Product>
@{
    ViewBag.Title = "List";
}

<div class="row">
    <div class="col-md-3 mt-5 ">
        <div class="container mb-5">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">An active item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="container mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 pt-2">
                @foreach (var product in Model)
                {
                    <div class="col">
                        <div class="card h-100">
                            <img src="holder.js/301x170" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/Home/Details/@product.Id"><h5 class="card-title">@product.Name</h5></a>
                                <p class="card-text">@product.Description</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">@product.Price</small>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

