@using System.Globalization;
@model BasicECommerce.Models.Cart
@{
    ViewBag.Title = "Index";
}
<div class="container py-3">
    <h2>Cart</h2>
    <hr />
    @if (Model.CartLines.Count > 0)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Quantity</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Sub Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartLines)
                {
                    <tr>
                        <td class="col-md-1">
                            <img src="~/theme/img/@item.Product.Image" alt="@item.Product.Name" class="img-fluid" />
                        </td>
                        <td>@item.Quantity</td>
                        <td>@item.Product.Name</td>
                        <td>$@item.Product.Price</td>
                        <td>$@((item.Product.Price*item.Quantity))</td>
                        <td class="col-md-2">
                            @using (Html.BeginForm("RemoveFromCart", "Cart"))
                            {
                                @Html.Hidden("Id", item.Product.Id)
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>Delete
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">TOTAL : </td>
                    <td>$@Model.Total()</td>
                </tr>
            </tfoot>
        </table>
        <div>
            <a href="/Home/List" class="btn btn-secondary"><i class="bi bi-caret-left"></i>Product List</a>
            <a href="/Cart/Checkout" class="btn btn-success"><i class="bi bi-cart-check"></i>Checkout</a>
        </div>
    }
    else
    {
        <div class="alert alert-warning">The cart is empty!</div>
        <div>
            <a href="/Home/List" class="btn btn-secondary"><i class="bi bi-caret-left"></i>Product List</a>
        </div>
    }

</div>
